body {
	font-size: 18px;
	margin: 0px;
	font-family: 'Josefin Sans', sans-serif;
	color: black;
}
.hm_bgimg {
	background-image:  url('https://unsplash.it/1366/768/?random&blur');
}
.align_center {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;	
	height: 100vh;
}

.rocket-img {
	height: 10em;
	/*align-items: center;
	justify-content: center;*/
}


